<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse"   ng-controller = "NavigationController as vm">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{vm.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    Altius Systems
                </div>

            </li>
            <!-- DashBoards [Roles : System, Debugger, Administrator, QlikUser] -->
            <li ng-class="{active: $state.includes('index.dashboards')}">
                 <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">                    
                    <li ui-sref-active="active"><a ui-sref="index.dashboards">Profiles<span class="label label-primary pull-right">NEW</span></a></li>
                </ul>
            </li>
            
<!--
            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
-->
<!--
            <li ui-sref-active="active">
                <a ui-sref="index.taskboard"><i class="fa fa-tasks"></i> <span class="nav-label">Taskboard</span></a>
            </li>
-->
            <!-- TaskBoard [Roles : System, Debugger, Administrator, TaskBoardUser, TaskBoardUserReadOnly ]-->
            <li ng-class="{active: $state.includes('index.taskboard')}">
                <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">Taskboard</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('index')}">
                    <li ng-class="vm.bcpNavClass(bcp)" ng-repeat="bcp in vm.businessControlProfileList"><a ui-sref="index.taskboard({filterText: 1, bcp: bcp.id})">{{bcp.name}}</a></li>
<!--
                    <li ng-class="navClass(item)"><a ui-sref="index.taskboard({filterText: 1, bcp: 1})">bcp1</a></li>
                    <li ng-class="navClass(item)"><a ui-sref="index.taskboard({filterText: 1, bcp: 2})">bcp2</a></li>
                    <li ng-class="navClass(item)"><a ui-sref="index.taskboard({filterText: 1, bcp: 3})">bcp3</a></li>
-->
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('index')}">
                    <li  ng-class="{active: $state.includes('index')}">
                        <a href="#"><i class="fa fa-filter"></i> <span class="nav-label-second-level">Filters</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse"  ng-class="{in: $state.includes('index')}">
                            <li ng-class="vm.filterNavClass(filter)" ng-repeat="filter in vm.filters"><a ui-sref="index.taskboard({filterText: filter.filterId})">{{filter.filterName}}</a></li>
<!--
                            <li ng-class="navClass(filter)"><a ui-sref="index.taskboard({filterText: 1})">Filter1</a></li>
                            <li ng-class="navClass(filter)"><a ui-sref="index.taskboard({filterText: 2})">Filter2</a></li>
-->
                        </ul>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-sitemap"></i> <span class="nav-label">Operations</span></a>
            </li>          
        </ul>

    </div>
</nav>
