<div class="ibox">
<div class="ibox-content">
<form role="form" name="signup_form2" novalidate ng-submit="vm.confirm()">
  <div class="modal-body">
    <div class = "row">
        <div class = "row">
            <div class = "col-lg-2" style="font-size : 12px; padding-top : 8px"> 
                <input type="text" style="font-size : 12px; padding-top : 8px" class="form-control no-border" name="TaskCode" ng-model="dialogTask.code"  placeholder="Code" required />
               
            </div>
            
            <div class = "col-lg-9" style="font-weight:bold;">
                <input type="text" style="font-size:25px" class="form-control no-border" name="TaskTitle" ng-model="dialogTask.title"  placeholder="Task Title" required />
                
            </div>
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" ng-click="vm.cancel()">X</button>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-4 hidden">                
            </div>
            
            <div class="col-lg-4">
            </div>
            
            <div class = "col-lg-2 pull-right">
            <button type="button" class="btn btn-info pull-right" ng-click="vm.confirm()" ng-disabled="signup_form2.$invalid"><i class="fa fa-save"></i> Save</button></div> 
        </div>
</div>
    </div>
</form>
    </div>
</div>