<div class="ibox">
<div class="ibox-content">
<form role="form" name="signup_form2" novalidate ng-submit="vm.confirm()">
  <div class="modal-body">
    <div class = "row">
        <div class = "row">
            <div class = "col-lg-2" style="font-size : 12px; padding-top : 8px"> 
                <input type="text" style="font-size : 12px; padding-top : 8px" class="form-control no-border" name="TaskCode" ng-model="vm.content.code"  placeholder="Code" required ng-minlength="3" />
                <div class="m-t-xs" ng-show="signup_form2.TaskCode.$invalid && signup_form2.TaskCode.$dirty">
                    <small class="text-danger" ng-show="signup_form2.TaskCode.$error.required">Please input a Task Code</small>
                    <small class="text-danger" ng-show="signup_form2.TaskCode.$error.minlength">Your Task Code is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="signup_form2.TaskCode.$error.maxlength">Your Task Code cannot be longer than 20 characters</small>
                </div>
            </div>
            
            <div class = "col-lg-9" style="font-weight:bold;">
                <input type="text" style="font-size:25px" class="form-control no-border" name="TaskTitle" ng-model="vm.content.title"  placeholder="Task Title" required ng-minlength="3" />
                <div class="m-t-xs" ng-show="signup_form2.TaskTitle.$invalid && signup_form2.TaskTitle.$dirty">
                    <small class="text-danger" style="font-weight:normal;" ng-show="signup_form2.TaskTitle.$error.required">Please input a Task Title</small>
                    <small class="text-danger" ng-show="signup_form2.TaskTitle.$error.minlength">Your Task Title is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="signup_form2.TaskTitle.$error.maxlength">Your Task Title cannot be longer than 20 characters</small>
                </div>
            </div>
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" ng-click="vm.cancel()">X</button>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-4 hidden">
              
            </div>
            <div class="col-lg-4">
            
            </div>
            <div class = "col-lg-2 pull-right">
            <button type="button" class="btn btn-info pull-right" ng-click="vm.confirm()" ng-disabled="signup_form2.$invalid"><i class="fa fa-save"></i> Save</button></div> 
        </div>
</div>
</div>
    <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset> <!--  style="border: 1px solid #000;"  style="background : #bebec3;"-->
                    <uib-tab>
                        <uib-tab-heading>
                          Edit  <i class="fa fa-pencil"></i>
                        </uib-tab-heading>
                        <div class="panel-body">
                        <div class = "col-lg-6">   
                            <br>
                            <div class = "form-horizontal">
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Control Code</label>
                                    <div class = "col-md-6">
                                         <select class="form-control m-b" ng-enabled="vm.enableControlStatus(vm.content)" ng-model="controlSets.Value" ng-options="controlSet.Value as controlSet.Name for controlSet  in vm.controlSets.Values" ng-change="vm.updateControlSet(controlSets.Value)"></select>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Task State</label>
                                    <div class = "col-md-6">
                                         <div class="btn-group hidden" role="group" aria-label="...">
                                            <button type="button" class="btn btn-sm btn-primary">New</button>
                                              <button type="button" class="btn btn-sm btn-primary">In Progress</button>
                                              <button type="button" class="btn btn-sm btn-primary">Completed</button>
                                        </div>
                                          <select class="form-control m-b" ng-disabled="vm.enableStatus(vm.content)" ng-model="taskStates.Value" ng-options="taskState.Value as taskState.Name for taskState  in vm.taskStates.Values" ng-change="vm.updateTaskState(taskStates.Value)"></select>
                                        <select class="form-control m-b hidden" name="Name" ng-model="dialogTask.taskState.name" placeholder="Task State">
                                            <option ng-repeat="item in taskStates" value="{{item.Value}}">{{item.Name}}</option>
                                    </select>   
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Due</label>
                                    <div class = "col-md-6">
                                        <input type="text" class="form-control no-border" name="taskDue" ng-model="vm.content.due"  placeholder="Task Due" formatted-date format="medium"/>
                                        <div class="m-t-xs" ng-show="signup_form2.taskDue.$invalid && signup_form2.taskDue.$dirty">
                                            <small class="text-danger" style="font-weight:normal;" ng-show="signup_form2.taskDue.$error.date">Please input a valid date</small>
                                            <small class="text-danger" ng-show="signup_form2.taskDue.$error.minlength">Your Task Due is required to be at least 3 characters</small>
                                            <small class="text-danger" ng-show="signup_form2.taskDue.$error.maxlength">Your Task Due cannot be longer than 20 characters</small>
                                        </div>
                                    </div>
                                </div>                                
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Link</label>
                                    <div class = "col-md-6">
                                        <input type="text" class="form-control no-border" name="Link" ng-model="vm.content.link"  placeholder="Link" />
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <uib-accordion close-others="true">                                        
                                        <uib-accordion-group heading="Description" is-open="true">
                                           <textarea class="form-control no-border" rows="4" name="Decsription" ng-model="vm.content.description" ></textarea>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                             <br>
                            
                        </div>
                            </div>
                    </uib-tab>             
                    
                        
                        <uib-tab>
                            <uib-tab-heading>
                              Comments  <i class="fa fa-comment-o"></i>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="row">
                                <div class="col-lg-6">
                                    <div class="ibox float-e-margins">
                                        <div class = "form-group">
                                    <uib-accordion close-others="true">                                        
                                        <uib-accordion-group heading="Comments" is-open="true">
                                           <textarea class="form-control no-border" rows="4" name="Comments" ng-model="comment.data"></textarea>                                          
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">                                        
                                    <ul  class="list-group clear-list m-t" ng-repeat="comment in dialogTask.comments">
                                        <li class="list-group-item clear-list">
                                            <div class="agile-detail">
                                                <blockquote>                                                   
                                                    <p>{{comment.text}}</p>
                                                    <footer>{{comment.lastModifiedByUser.userName}},
                                                      <cite>{{comment.lastModified | date}}</cite>
                                                    </footer>
                                                </blockquote>                    
                                            </div>   
                                        </li>
                                    </ul>
                                </div>
                                    </div>
                            </div>
                        </uib-tab>
                    
                        <uib-tab>
                        <uib-tab-heading>
                          RACI  <i class="fa fa-users"></i>
                        </uib-tab-heading>
                        <div class="panel-body">
                        <div class = "col-lg-6">
                            <div class = "form-horizontal">
                             <div class = "form-group">
                                 <label class="col-md-6 control-label"> <input type="radio" ng-model="vm.raci.name" value="Team"> Assign RACI Team  </label> 
                                 <label class="col-md-6 control-label">
                                <input type="radio" ng-model="vm.raci.name" value="Role">
                                Assign RACI Roles
                              </label>
                                </div>
                            </div>
                            <div class = "form-horizontal">
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">RACI Team</label>
                                    <div class = "col-md-6">
                                         <select class="form-control m-b" ng-model="vm.raciTeams.Value" ng-options="raciTeam.Value as raciTeam.Name for raciTeam  in vm.raciTeams.Values" ng-change="vm.updateRaciTeam(raciTeams.Value)" ng-disabled = "vm.raci.name == 'Role'"></select>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Responsible</label>
                                    <div class = "col-md-6">
                                         <select class="form-control m-b" ng-model="vm.responsibleUsers.Value" ng-options="responsibleUser.Value as responsibleUser.Name for responsibleUser  in vm.responsibleUsers.Values" ng-change="vm.updateResponsibleUser(vm.responsibleUsers.Value)" ng-disabled = "vm.raci.name == 'Team'">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class = "form-group">
                                    <label class = "col-md-4 control-label" style="padding-top : 10px">Accountable</label>
                                    <div class = "col-md-6">
                                          <select class="form-control m-b" ng-model="vm.accountableUsers.Value" ng-options="accountableUser.Value as accountableUser.Name for accountableUser  in vm.accountableUsers.Values" ng-change="vm.updateAccountableUser(accountableUsers.Value)" ng-disabled = "vm.raci.name == 'Team'"></select>
                                    </div>
                                </div>
                                
                                <div class = "form-group">
                                    <uib-accordion close-others="true">                                        
                                        <uib-accordion-group heading="Informed" is-open="true">
                                           <select multiple class="form-control m-b" ng-model="vm.informedUsers.Value" ng-options="informedUser.Value as informedUser.Name for informedUser  in vm.informedUsers.Values" ng-change="vm.updateInformedUser(informedUsers.Value)" ng-disabled = "vm.raci.name == 'Team'"></select>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <br>
                            <uib-accordion close-others="true">
                                <uib-accordion-group heading="Consulted" is-open="true">
                                   <select multiple class="form-control m-b" ng-model="vm.consultedUsers.Value" ng-options="consultedUser.Value as consultedUser.Name for consultedUser  in vm.consultedUsers.Values" ng-change="vm.updateConsultedUser(consultedUsers.Value)" ng-disabled = "vm.raci.name == 'Team'"></select>
                                </uib-accordion-group>
                            </uib-accordion>
                            </div>
                            </div>
                    </uib-tab>
                    
                    
                </uib-tabset>
            </div>
        </div>
    </div>
    </div>
</form>
    </div>
</div>